@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;
 *{
        background-color: #ffff;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 14px;
        box-sizing: border-box; 
        margin: 0;
        padding: 0;
        
    }
    h3{
        font-size: 14px;
        font-weight: 700;
        padding-bottom: 15px;
        text-transform: uppercase;
    }
    li{
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 8px;
    }

    .text-size{
        @apply
        text-[11px] font-[500];
    }
    .flex-j-c{
        @apply flex items-center justify-between;
    }
    .flex-jc-ic{
        @apply flex items-center justify-center;
    }
    .flex-ic{
        @apply flex items-center;
    }
    .f600-t13{
        @apply font-semibold text-[13px];
    }
    .f-fc{
        @apply flex flex-col justify-around
    }
    .text-footer{
        @apply text-[13px] font-normal
    }
